<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Assist</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="background">
        <img id="scene-first"  height="400" class="scene" data-modifier="30" src="/static/images/rocks.png">
        <img class="scene" data-modifier="18" src="/static/images/bg-img-1.png">
        <img class="scene" data-modifier="12" src="/static/images/bg-img-2.png">
        <img class="scene" data-modifier="8" src="/static/images/bg-img-3.png">
        <img class="scene" data-modifier="6" src="/static/images/bg-img-4.png">
        <img class="scene" data-modifier="0" src="/static/images/bg-img-5.png">
    </div>

    <div class="header flex flex-row justify-between px-40">
        <!-- <div class="logo text-white text-2xl font-bold"> -->
        <img class="logo" src="/static/images/Smart Assist.png" style="object-fit: cover;" alt="">
        <!-- </div> -->
        <div class="links flex flex-row justify-between text-white text-xl cursor-alias" >
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
    </div>

    <div class="landing ">
        <h1 class="main-text text-4xl text-white mb-5">Studies Made Easy</h1>
        <h1 class="main-text text-4xl text-white">With</h1>
        <div class="info-cover">
            <img src="/static/images/Smart Assist.png" alt="">
            <div class="info text-white text-2xl">
                <b class="font-medium" id="text"></b>
                <span id="span">_</span>
            </div>
            <a class="btn text-white mb-5 " href="/home"  >Get Started</a>
        </div>
    </div>

    <div id="about" class="text-white pt-20 px-40">
        <h1 class="text-3xl text-white about1 mb-5">About</h1>
        <h2 class="text-2xl ">Smart Assist is a Machine Learning based web application which helps students by providing some useful insights from long video, audio and text files. This websitess also provides mock test based on the given lecture text files. Finding important points and keywords from the paragraph.
            This application also provides various maathematical and scientific tools to assist the students. You must have encountered the problem of studying long chapters which are quite boring to read this apps provides a short summary of a whole chapter which can be useful at the time of revision as well.
        </h2>
    </div>
    <!-- Team Page -->
    <div class="container">
            <h1 class = "text-white text-2xl">Our Team</h1>
        <div class="sub-container">
            <div class="teams">
                <img class ="profile-img" src="svg/profile1.svg" alt="">
                <div class="name">Akshar Singh</div>
                <div class="desig">Developer</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                    reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="teams">
                <img class ="profile-img" src="svg/profile2.svg" alt="">
                <div class="name">Amit Maindola </div>
                <div class="desig">Designer</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                    reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="teams">
                <img class ="profile-img" src="svg/profile3.svg" alt="">
                <div class="name">Akshat Raj Anand </div>
                <div class="desig">Manager</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore quam
                    reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/basicscroll/2.0.0/basicScroll.min.js" integrity="sha512-gp6kz4bToO0kmDMCbyDEV/9/pljTYdkBldJMjC6ASLoTt6ShtQ8bGU7qVUZiNQUDDoVi8GL3vDcTUVnLxF9NoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/home.js"></script>
</body>

</html>