<h1 class="text-2xl my-10 font-semibold text-center">Here Is The Complete Text</h1>

<div class="flex flex-row justify-around">
    <a style="max-width: 400px;" href="/graph">
        <div class="graph">
            <h1 class="text-xl my-10 font-semibold text-center">Graph Plotter</h1>
            <h class="text-lg text-white">Just Enter The Functions And Get The Plots Ready.<br>Generates Multiple Plots Simultaneously.</h>
        </div>
    </a>
    <a style="max-width: 400px;" href="/calculator">
        <div class="calc">
            <h1 class="text-xl my-10 font-semibold text-center">Scientific Calculator</h1>
            <h class="text-lg text-white">A Scientific Calculator For Saving Your Time<br>Trigonometric And Logarithmic Functions.</h>
        </div>
    </a>
</div>