{% extends "base.html" %}

{% block content %}


<h1 class="text-2xl my-10 font-semibold text-center">Get Insights From Your Video/Audio/Text</h1>
<ul class=" list-disc cursor-pointer "  id="showListBtn"><h1 class="text-xl underline">KNOW HOW TO USE?</h1>
    <div id="showList">
        <li>If you want to get insights from a text paragraph write the text in the text box.</li>
        <li>If you want to get insights from an audio or video then uplGet Insights From Your Paragraph Or Video/Audio File.</li>
        <li>Submit the form.</li>
        <li>Wait while its processing.</li>
        <li>And its all done! :)</li>
    </div>
</ul>

<!-- <div id="text">Hello</div> -->

<div class="wrapper mt-10 flex flex-row justify-between">
    <div class="form-outline flex-grow flex flex-col justify-between bg-white" style="width: 20%;">
        <textarea id="text" style="width: 100%; resize: none;"  class="form-control max-10 flex-grow text-black" name="" id="textAreaExample1"></textarea>
        <div class="form flex flex-col justify-between">
           <form action="/summary" method="POST">
                <input type="hidden" name="type" value="text">
                <input style="width: 100%;" type = "submit" value="Submit">
           </form>
        </div>
    </div>
    <div style="width: 0; height: 50vh;" class="bg-white upload text-black mx-10 flex-grow flex flex-col justify-between">
        <form class="flex flex-row justify-around" action = "/home" method = "post" enctype="multipart/form-data">
            <div class="icon"><i style="font-size: 100px;" class="fa-solid fa-file-video"></i></div>
            <div class="form flex flex-col justify-between">
                <h3>Upload Video File</h3>
                <input type="file" name="file" />
                <input type="hidden" name="type" value="video">
                <br>
                <input type = "submit" value="Upload">
            </div>
        </form>
        <p class="text-2xl text-center font-semibold">OR</p>
        <form class="flex flex-row justify-around" action = "/home" method = "post" enctype="multipart/form-data">
            <div class="icon"><i style="font-size: 100px;" class="fa-solid fa-file-audio"></i> </div>
            <div class="form flex flex-col justify-between">
                <h3>Upload Audio File</h3>
                <input type="file" name="file" />
                <input type="hidden" name="type" value="video">
                <br>
                <input type = "submit" value="Upload">
            </div>
        </form>
    </div>
</div>

{% endblock %}